.card {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    accent-color: var(--color-accent);
    background-color: var(--bg-color);
    box-shadow: 10px 5px 50px -10px var(--color-accent);


    border: 1px solid gray;
    border-radius: var(--border-radius);

    .container {
        box-sizing: border-box;
        max-width: 80%;
        width: 80vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title {
            box-sizing: border-box;

            width: 20%;
            margin: 0 10px;
            padding: 0;

            font-size: 20px;
            text-align: left;
        }

        .title_through {
            text-decoration: line-through;
        }

        .description {
            box-sizing: border-box;

            width: 70%;
            margin: 0 10px;
            padding: 0;

            font-size: 15px;
            text-align: left;
        }

    }
    .completed {
        box-sizing: border-box;

        width: 20%;
        height: 20px;
    }
}

@media screen and (max-width: 800px) {
    .card {

        .container {
            flex-direction: column;
            justify-content: space-between;

            .title {
                width: 100%;
                text-align: center;
                font-size: 16px;
            }

            .description {
                width: 100%;
                text-align: center;
                padding-bottom: 16px;
                font-size: 12px;
            }


        }
    }

}