header
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 0
  margin: 0
  display: flex
  flex-direction: column
  width: 100%
  height: 10vh
  min-height: 100px
  max-height: 200px
  box-sizing: border-box

  display: flex
  flex-direction: row
  justify-content: space-between
  
  .logo
    position: fixed
    left: 0
    top: 50dvh
    z-index: 1
    text-align: left
    font-size: 40px
    padding-left: 20px
    cursor: pointer
    mix-blend-mode: difference
    color: var(--color-accent)

    &:hover
      color: var(--color-accent)
      filter: drop-shadow( 0 0 10px var(--color-main) )

    .image
      mix-blend-mode: exclusion
      width: 200px
      margin-bottom: -50px

  button 
    min-width: 10dvw
    color: var(--color-accent)

    &:hover
      color: var(--color-main)
      filter: drop-shadow( 0 0 10px var(--color-main) )