.list_item
  cursor: pointer

  display: inline-block
  box-sizing: border-box

  font-size: 7vw
  line-height: 100px
  text-transform: uppercase
  transform: rotateY(358deg) scaleX(.5)
  transition: transform 1s ease
  
.list_item:hover
  -webkit-text-stroke: 2px blue
  color: #242424
  
  transform: rotateY(359deg) scaleX(.6)
  transition: transform 1s ease
  // perspective: 200px

  // div
  //   transform: rotateY(10deg)
