@font-face {
    font-family: "DrukWide";
    src : url("./fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf");
}

:root {
  --color-main: #0000FF;
  --color-accent: purple;
  --border-radius: 20px;
  --bg-color: #242424;
  --footer-height: 20dvh;
  --min-footer-height: 150px;

  font-family: DrukWide, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100dvh;
  color: var(--color-main)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  filter: drop-shadow(0 0 20px var(--color-main));
  transition: all 0.2s;
  transform: scale(1.1);
  mix-blend-mode: difference;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: drop-shadow( 0 0 10px var(--color-main));
  text-shadow: 0 0 10px var(--color-main);
}

button:focus,
button:focus-visible {
  border-color: var(--color-accent);
}